<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<p>
  				{{link-to "User list" "users.index" }}
			</p>
			<center><h1>New User</h1></center>

			{{partial "users/form"}}
		</div>
	</div>
</div>