<div class="jumbo">
  <h2>Acerca de FASTQUICK</h2>
  <p>
    Somos una empresa dedicada a la comida rápida desde 1964, en nuestros platillos podras encontrar un toque de hogar que al disfrutarlos es un gusto para el paladar.
  </p>
  {{#link-to 'conctact' class="button"}}
    Conctatanos
  {{/link-to}}
</div>